<div class="row">
  <div class="col-md-4">
    <%@jobs.each do |job| %>
      <div class="job">
        <h2><%=link_to job.title, job%></h2>
        <%=job.company%>
        <%=job.location%>
        <%if job.featured? %>
          <strong>Destaque</strong>
        <%end%>
      </div>
    <% end %>
  </div>
</div>
