<div class="row">
  <div class="col-md-4">
    <%@jobs.each do |job| %>
      <div class="job">
        <h2><%=job.title%></h2>
        <%=job.company%>
        <%=job.location%>
      </div>
    <% end %>
  </div>
</div>
