<div class="row">
  <div class="col-md-4">
    <%@jobs.each do |job| %>
      <%= render job%>
    <% end %>
  </div>
  <div class="col-md-2">
    Empresas
    <%@companies.each do |company| %>
      <div class="company">
        <%=link_to company.name, company %>
      </div>
    <%end%>
    <hr>    
    Categorias
    <%@categories.each do |category| %>
      <div class="category">
        <%=link_to category.name, category %>
      </div>
    <%end%>
  </div>
</div>
