<header class="navbar navbar-inverse">
  <div class="container-fluid">
    <%= link_to "Emprego Já", root_path, class: "navbar-brand" %>
  </div>
  <div class="container">
    <%unless flash[:error].nil? %>
      <div class="alert alert-danger" role="alert"><%=flash[:error]%></div>
    <%end%>
  </div>
</header>
